---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.tazapay.com/v2/kyb/
    body:
      encoding: UTF-8
      string: '{"account_id":"ee4cc3b2-3eb2-4bbd-b423-6eff717c7438","application_type":"Business","entity_name":"Company","submit":true,"business":{"name":"india
        mart api integration","type":"","incorporation_no":"GST-2344566","address_line_1":"Block.1,
        abc","address_line_2":"XYZ area","city":"Chennai","state":"TamilNadu","country":"India","zip_code":"600069","trading_name":"","category":[],"sub_category":"","years_in_business":"","annual_turnover":"","website":"","date_of_incorporation":"","custom_attrs":{"transaction_id":"1234"},"documents":[{"description":"Business
        Registration Proof","file_name":"busRegProof.png","name":"Business Registration
        Proof","proof_type":"Business","type":"Other","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg"},{"description":"Business
        Address Proof","file_name":"busAddressProof.png","name":"Business Address
        Proof","proof_type":"Address","tag":"addressProofDoc","type":"Other","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg"}]},"representative":{"first_name":"Steve","last_name":"Rogers","roles":["Director"],"dob":"","address_line_1":"add
        1","address_line_2":"add 2","city":"Chennai","state":"TamilNadu","country":"India","zip_code":"600069","contact_code":"+91","mobile_number":"9090929220","nationality":"","ownership_percent":50,"documents":[{"proof_type":"Identity","type":"Passport","name":"Address
        proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportback.jpg","description":"representative
        passport","tag":"identityProofTypeFrontDoc"},{"proof_type":"Identity","type":"Passport","name":"Address
        proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportback.jpg","description":"representative
        passport","tag":"identityProofTypeBackDoc"}]},"owner":[{"first_name":"Tony","last_name":"Stark","roles":["Shareholder"],"dob":"","address_line_1":"add
        1","address_line_2":"add 2","city":"Chennai","state":"TamilNadu","country":"India","zip_code":"600069","contact_code":"+91","mobile_number":"9090929250","nationality":"","ownership_percent":25,"documents":[{"proof_type":"Identity","type":"Passport","name":"Address
        proof","url":"https://i.pinimg.com/736x/53/af/1a/53af1ad615ee4f38e482d77b84eacb44.jpg","file_name":"passportfront.jpg","de[...]
