---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.tazapay.com/v1/checkout
    body:
      encoding: UTF-8
      string: '{"buyer":{"email":"a.kuznetsov+3@mail.io","contact_code":"+1","contact_number":"1111111111","country":"US","ind_bus_type":"Business","business_name":"Test12341"},"seller":{"email":"a.kuznetsov+2@mail.io","contact_code":"+65","contact_number":"1111111111","country":"SG","ind_bus_type":"Business","business_name":"Test12341"},"fee_paid_by":"buyer","fee_percentage":100,"invoice_currency":"USD","invoice_amount":1000,"txn_description":"test0101","callback_url":"https://eoszvawdmoeh2g.m.pipedream.net","complete_url":"https://gooawdecom","error_url":"https://gooawdgle.com","payment_methods":["Card"],"txn_docs":[{"type":"Proforma
        Invoice","url":"https://image.shutterstock.com/image-vector/luxurious-nature-floral-leaf-ornament-600w-1938357313.jpg","name":"Screenshot
        from 2022-01-17 20-41-22.png"}],"attributes":{"doc_url":"https://media.istockphoto.com/photos/historic-buildings-of-wall-street-in-the-financial-district-of-lower-picture-id1337246025?s=612x612"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VkwwRFM1RFlJU05EVzJVN08yTkg6c2FuZGJveF9wWjJKNjcyWThVTjNlMXFYMWlOanBzYjJqd2hMOEZvaGk2WHpmQWNJdEh0dTVCZjdIbEFaRTRMcHlJZWdmS1lvQkdQdXByb3lHN3BNRlY1TUZIbTBzZGxCaHJSdElRU21OMDRnSFJ1UlAyZDlWbnFVN2NKS2c3cjJMQ0g3OU9WNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 974cfd06-9991-4588-aa42-0b4bdc8a0420
      X-Amz-Apigw-Id:
      - Az_qWGYkyQ0Fg5A=
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"Payment Link created successfully","data":{"buyer":{"id":"d9fe1daf-9f5a-4471-9424-b23c941aacc6","email":"a.kuznetsov+3@mail.io","country":"US"},"seller":{"id":"4337aff8-bab9-437f-8a54-83adcc8b5b5b","email":"a.kuznetsov+2@mail.io","country":"US"},"redirect_url":"https://pay-sandbox.tazapay.com/marketplace/paymentdetails/_nqVw4c5x6TOoJqvubBacQuQ5wBgoEvnp_iAeE89IMSSn849bIjWGOvRs0ttLtAF","partner_reference_id":"","txn_no":"2302-781666","state":"Awaiting_Payment","sub_state":"Generic","txn_type":"goods","invoice_currency":"USD","invoice_amount":1000,"fee_tier":"standard","fee_paid_by":"buyer","fee_tier_percentage":0,"fee_amount":0,"collect_amount":1000,"disburse_amount":1000,"transcation_source":"api","attributes":{"doc_url":"https://media.istockphoto.com/photos/historic-buildings-of-wall-street-in-the-financial-district-of-lower-picture-id1337246025?s=612x612"},"token":"_nqVw4c5x6TOoJqvubBacQuQ5wBgoEvnp_iAeE89IMSSn849bIjWGOvRs0ttLtAF"}}

        '
  recorded_at: Thu, 23 Feb 2023 21:51:26 GMT
recorded_with: VCR 5.1.0
