---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.tazapay.com/v1/checkout
    body:
      encoding: UTF-8
      string: '{"fee_paid_by":"buyer","fee_percentage":100,"invoice_currency":"USD","txn_description":"test0101","callback_url":"https://eoszvawdmoeh2g.m.pipedream.net","complete_url":"https://gooawdecom","error_url":"https://gooawdgle.com","payment_methods":["Card"],"txn_docs":[{"type":"Proforma
        Invoice","url":"https://image.shutterstock.com/image-vector/luxurious-nature-floral-leaf-ornament-600w-1938357313.jpg","name":"Screenshot
        from 2022-01-17 20-41-22.png"}],"attributes":{"doc_url":"https://media.istockphoto.com/photos/historic-buildings-of-wall-street-in-the-financial-district-of-lower-picture-id1337246025?s=612x612"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VkwwRFM1RFlJU05EVzJVN08yTkg6c2FuZGJveF9wWjJKNjcyWThVTjNlMXFYMWlOanBzYjJqd2hMOEZvaGk2WHpmQWNJdEh0dTVCZjdIbEFaRTRMcHlJZWdmS1lvQkdQdXByb3lHN3BNRlY1TUZIbTBzZGxCaHJSdElRU21OMDRnSFJ1UlAyZDlWbnFVN2NKS2c3cjJMQ0g3OU9WNA==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7d448134-201c-485e-83e0-49f278f93867
      X-Amz-Apigw-Id:
      - A0AT1F9dSQ0Fqqg=
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Bad Request : Your request is invalid","errors":[{"code":2901,"message":"buyer_id/seller_id
        field is required and must be a valid UUID","remarks":"buyer_id"},{"code":2910,"message":"Field
        is required and value must be greater than 0","remarks":"invoice_amount"}]}

        '
  recorded_at: Thu, 23 Feb 2023 21:55:50 GMT
recorded_with: VCR 5.1.0
