---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.tazapay.com/v1/escrow
    body:
      encoding: UTF-8
      string: '{"txn_type":"goods","release_mechanism":"tazapay","reference_id":"test12345","initiated_by":null,"buyer_id":null,"seller_id":null,"txn_description":"Positive
        transaction","txn_docs":[{"type":"Proforma Invoice","url":"https://www.invoicesimple.com/wp-content/uploads/2018/06/Invoice-Template-top.xlsx"},{"type":"Others","name":"Order
        Form","url":"https://www.invoicesimple.com/wp-content/uploads/2018/06/Invoice-Template-top.xlsx"}],"attributes":{},"invoice_currency":"USD","invoice_amount":1000,"fee_tier":"standard","fee_paid_by":"buyer","fee_percentage":100,"release_docs":[{"type":"Bill
        of Lading/ Airway Bill"},{"type":"Others","name":"Packing List"}],"flat_fee":{"amount":10,"label":"TEST-LABEL","paid_by":"buyer","payer_percentage":100},"callback_url":"https://eoszvyoakmoeh2g.m.pipedream.net"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VkwwRFM1RFlJU05EVzJVN08yTkg6c2FuZGJveF9wWjJKNjcyWThVTjNlMXFYMWlOanBzYjJqd2hMOEZvaGk2WHpmQWNJdEh0dTVCZjdIbEFaRTRMcHlJZWdmS1lvQkdQdXByb3lHN3BNRlY1TUZIbTBzZGxCaHJSdElRU21OMDRnSFJ1UlAyZDlWbnFVN2NKS2c3cjJMQ0g3OU9WNA==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ab89737b-a771-4b6c-ad13-5a1fd6d4d08c
      X-Amz-Apigw-Id:
      - A6R3xGwBSQ0FrTg=
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Bad Request : Your request is invalid","errors":[{"code":1402,"message":"Enter
        a valid UUID in the field initiated_by","remarks":"initiated_by"},{"code":1403,"message":"buyer_id/seller_id
        field is required and must be a valid UUID","remarks":"buyer_id"},{"code":1410,"message":"Ensure
        that required buyer or seller data (country, email, ind_bus_type, name) is
        entered to create the user for an escrow. check our user API body parameters
        for required fields","remarks":"buyer"},{"code":1403,"message":"buyer_id/seller_id
        field is required and must be a valid UUID","remarks":"seller_id"},{"code":1410,"message":"Ensure
        that required buyer or seller data (country, email, ind_bus_type, name) is
        entered to create the user for an escrow. check our user API body parameters
        for required fields","remarks":"seller"}]}

        '
  recorded_at: Sat, 25 Feb 2023 19:37:08 GMT
recorded_with: VCR 5.1.0
