---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.tazapay.com/v1/escrow
    body:
      encoding: UTF-8
      string: '{"txn_type":"goods","release_mechanism":"tazapay","reference_id":"test12345","initiated_by":"2526293f-6533-4ae0-b1f4-cc4b8ab95014","buyer_id":"2ec075b2-6efa-4aa0-858c-ae50585d5473","seller_id":"2526293f-6533-4ae0-b1f4-cc4b8ab95014","txn_description":"Positive
        transaction","txn_docs":[{"type":"Proforma Invoice","url":"https://www.invoicesimple.com/wp-content/uploads/2018/06/Invoice-Template-top.xlsx"},{"type":"Others","name":"Order
        Form","url":"https://www.invoicesimple.com/wp-content/uploads/2018/06/Invoice-Template-top.xlsx"}],"attributes":{},"invoice_currency":"USD","invoice_amount":1000,"fee_tier":"standard","fee_paid_by":"buyer","fee_percentage":100,"release_docs":[{"type":"Bill
        of Lading/ Airway Bill"},{"type":"Others","name":"Packing List"}],"flat_fee":{"amount":10,"label":"TEST-LABEL","paid_by":"buyer","payer_percentage":100},"callback_url":"https://eoszvyoakmoeh2g.m.pipedream.net"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic VkwwRFM1RFlJU05EVzJVN08yTkg6c2FuZGJveF9wWjJKNjcyWThVTjNlMXFYMWlOanBzYjJqd2hMOEZvaGk2WHpmQWNJdEh0dTVCZjdIbEFaRTRMcHlJZWdmS1lvQkdQdXByb3lHN3BNRlY1TUZIbTBzZGxCaHJSdElRU21OMDRnSFJ1UlAyZDlWbnFVN2NKS2c3cjJMQ0g3OU9WNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a538a619-8a55-4c40-a54c-6a8a27111247
      X-Amz-Apigw-Id:
      - A6RevGhMSQ0FXTQ=
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"escrow created successfully","data":{"txn_no":"2302-782452","state":"Awaiting_Payment","sub_state":"Generic","txn_type":"goods","invoice_currency":"USD","invoice_amount":1000,"fee_tier":"standard","fee_paid_by":"buyer","fee_tier_percentage":0,"fee_amount":0,"collect_amount":1010,"disburse_amount":1000,"flat_fee":{"amount":10,"label":"TEST-LABEL","paid_by":"buyer","payer_percentage":100},"transcation_source":"api"}}

        '
  recorded_at: Sat, 25 Feb 2023 19:34:30 GMT
recorded_with: VCR 5.1.0
